name: IaC

on: 
  workflow_dispatch:
    inputs:
      environment:
        required: true
        description: Environment to run the pipeline in.
        default: 'Development'
        type: string
 

jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    name: Run AML IaC 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python Environment
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      # - name: Install Python Build Agent Dependencies
      #   run: |
      #     pip install pip==20.2.3
      #     pip install -r ./.github/workflows/build-requirements.txt

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_SP_CREDS}}

      - name: Install Az ML CLI v2
        run: |
          az extension add --name ml --yes

      - name: Set AML Defaults
        run: |
          az config set defaults.workspace=${{secrets.AML_WORKSPACE}}
          az config set defaults.group=${{secrets.AML_RESOURCE_GROUP}}
          az account set -s ${{secrets.AML_SUBSCRIPTION}}  

      - name: Register Environment
        run: |
          az ml environment create --file ./safe-driver/environ/environment.yml      